# Python stuff
*.pyc
/venv/
/.venv/
/.tox/
*.egg-info
/build/

# Jetbrains stuff
/.idea/

# VCCode stuff
/.vscode/

# .env files contain sensitive data, so never put in Git
.env*

# macOS stuff
.DS_Store

# Claude stuff
/.claude/

# App level cache
/cache/
